.btntext {
  transition: all 2s;
}
.btntext:hover {
  background-color: darkblue;
}

.btn {
  transition: all 0.5s;
}

.btntext:hover .btn {
  transform: translateX(10px);
}

.wavinHand {
  position: relative;
  right: -5px;
  animation: handYellow 1s linear infinite;
}

@keyframes handYellow {
  from {
    transform: scale(0.8);
    color: brown;
  }
  to {
    transform: scale(1.3);
    color: gold;
  }
}
