.test{    
    animation: animate  10s ease-in-out infinite;
    background-size: cover;
    background-position: center;
    opacity: rgba(0,0,0,0.75);
}

@keyframes animate {
    0%,100%{
        background-image: url(../../assets/slider/classic.jpg);
    }
    25% {
        background-image: url(../../assets/slider/sport.jpg);
    }
    50% {
        background-image: url(../../assets/slider/work.jpg);
    }
    75% {
        background-image: url(../../assets/slider/casual.jpg);
    }
}